<script type="text/javascript">

    RED.nodes.registerType('bip39 wordlist',{
        category: 'Crypto',
        color: '#4e83a2',
        defaults: {
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "hash.png",
        label: function() {
            return this.name||'bip39 wordlist';
        }
    });
</script>

<script type="text/x-red" data-template-name="bip39 wordlist">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="bip39 wordlist">
    <p>This node generate a BIP39 wordlist.</p>
    <p>msg.seed = Seed in Hex</p>
    <p>msg.payload = Wordlist BIP39 with 12 Words</p>
</script>
