<script type="text/javascript">

    RED.nodes.registerType('hash sha256 hex',{
        category: 'Crypto',
        color: '#4e83a2',
        defaults: {
            name: {value:""},
        },
        inputs:1,
        outputs:1,
        icon: "hash.png",
        label: function() {
            return this.name||'hash sha256 hex';
        }
    });
</script>

<script type="text/x-red" data-template-name="hash sha256 hex">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="hash sha256 hex">
    <p>This node take a hex string and make a hash with aes256 ecc crypt.</p>
</script>
